
@import '../../../variable.scss';

.custom-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}


.terms-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: -0.02em;
    color: $background;
    margin-left: 15px;
}

.services-text{
    height: 600px;
    overflow-y: scroll;
    border: 0.2px solid rgb(187, 186, 186);
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px grey; 
    border-radius: 25px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #2CA3D1; 
    border-radius: 25px;
}

.custom-decline-btn{
    border-color: none !important;
    outline: none !important;
    box-shadow: none !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 166%;  
    letter-spacing: -0.02em;
    color: $sky-blue;
}

.ol {
    padding: 20px;
}

.ol.li {
    background: $light;
    color: $background;
    padding: 10px;
    margin-left: 15px;
}

.text-list{
    font-weight: 400;
    font-size: 20px;
    line-height: 166%;  
    letter-spacing: -0.02em;
}

.terms-header{
    font-weight: 500;
    font-size: 30px;
    line-height: 166%;  
    letter-spacing: -0.02em;
}

.terms-sub-header{
    font-weight: 400;
    font-size: 18px;
    line-height: 166%;  
    letter-spacing: -0.02em;  
}

.custom-ok-btn{
    width: 160px;
    height: 60px;
    background : #f9f9f9;
    color: $sky-blue; 
    border-color: $sky-blue;
    outline: $sky-blue;
    border-radius: 8px;
}
  