<div class="opt-in-screen">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div
          class="progress progress-border-round mt-85"
          role="progressbar"
          aria-label="Basic example"
        >
          <div
            class="progress-bar progress-border-round bg-color"
            style="width: 40%"
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="start-value">40%</div>
          </div>
          <div class="col-md-6">
            <div class="end-value">100%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="opt-in-img mt-95">
    <img src="../../../assets/images/Rectangle_img.svg" alt="" />
  </div>
  <div class="text-title text-center">
    <p class="fw-bolder">Opt-in</p>
  </div>
  <div class="container">
    <div class="row mt-70">
      <div class="col-md-12 col-sm-12">
        <div class="row">
          <div class="col-md-5 col-sm-5" style="position: absolute">
            <div class="text-sub-header">
              Opt-in to share access to your online activity so Sonar <br />
              can proactively identify when you require support and provide you
              and your mental health allies with effective tools & resources.
            </div>
            <div class="text-sub-header mt-15">
              Only summarized information from your online activity <br />
              that is critical to supporting your mental health is shared.
            </div>
            <div class="text-sub-header mt-15">
              You choose the mental health allies who will receive this <br />
              information (you can choose to only have your parents notified in
              crisis situations!)
            </div>
            <div class="optIn-btn mt-15">
              <button
                type="button"
                class="btn btn-warning custom-optIn-btn"
                (click)="optIn()"
              >
                Opt-in
              </button>
            </div>
          </div>
          <div class="offset-md-6 col-md-4" style="position: absolute">
            <img src="../../../assets/images/girl_img.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
