<div class="confirm-screen">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div
          class="progress progress-border-round mt-85"
          role="progressbar"
          aria-label="Basic example"
        >
          <div
            class="progress-bar progress-border-round bg-color"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="start-value">100%</div>
          </div>
          <div class="col-md-6">
            <div class="end-value">100%</div>
          </div>
        </div>
      </div>
      <div
        class="offset-md-1 col-md-10 mt-40"
        style="padding: 0 30px 0 30px; margin-bottom: 20px"
      >
        <div class="card custom-cardbody">
          <div class="card-body">
            <div class="card-header-text mt-40">
              <img src="../../../assets/images/confirm_img.svg" alt="" />
            </div>
            <div class="row">
              <div class="offset-md-2 col-md-8">
                <div class="confirm-title mt-25">
                  <p>Congrats, you’re now a part of the pod.</p>
                </div>
                <div class="confirm-header mt-20">
                  <p>
                    Thank you for signing up for Sonar! We’re excited to help
                    support your mental health.
                  </p>
                </div>
                <div class="confirm-sub-header mt-40">
                  <p>
                    Please visit
                    <a
                      href="https://www.sonarmentalhealth.com/"
                      style="color: #fec601"
                      ><b>our website</b></a
                    >
                    for more information.
                  </p>
                </div>
                <div class="confirm-btn mt-40 text-center">
                  <button
                    type="button"
                    class="btn btn-warning custom-confirm-btn"
                    (click)="confirm()"
                  >
                    Ok
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
