<div class="slide-screen">
  <app-dash-nav-bar></app-dash-nav-bar>
  <nav class="navbar custom-navbar">
    <div class="container-fluid">
      <div class="slide-nav">
        <div class="profile-info text-center">
          <div class="profile-logo text-center">
            <img src="../../../assets/images/dashboard_profile.svg" alt="" />
          </div>
          <div class="user-name text-center">Morgan Li</div>
        </div>
        <div class="custom-home text-center mt-100">
          <div class="home-logo">
            <img src="../../../assets/images/home-heart.svg" alt="" />
          </div>
          <div class="slide-text mt-8">Home</div>
        </div>

        <div class="custom-profile text-center mt-40">
          <div class="profile-logo">
            <img src="../../../assets/images/account.svg" alt="" />
          </div>
          <div class="slide-text mt-8">My Profile</div>
        </div>
        <div class="custom-setting text-center mt-40">
          <div class="setting-logo">
            <img src="../../../assets/images/setting.svg" alt="" />
          </div>
          <div class="slide-text mt-8">Settings</div>
        </div>
        <div class="custom-logout text-center mt-195">
          <div class="logout-logo">
            <img src="../../../assets/images/logout.svg" alt="" />
          </div>
          <div class="logout-text mt-8">Logout</div>
        </div>
      </div>
    </div>
  </nav>
</div>
